#section_titlepage td{
    -webkit-border-radius: 30;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: purple;
    color: white;
    text-align: center;
    padding: 10px;
}

#section_titlepage #titlepage_flexbox{
    display: flex;
}

#section_titlepage #titlepage_flexbox div{
    max-width: 50%;
}

/* TODO: Abstand zwischen Einträgen in Tabelle */
