
#section_editpage td{
    -webkit-border-radius: 30;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: violet;
    color: white;
    text-align: center;
    padding: 10px;
}

#section_editpage table{
    border-spacing: 20px;
}

#section_editpage #editpage_flexbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section_editpage .button{
    height: 60px;
    width: 200px;
    margin-top: 130px;
}

input{
    background: none;
    border: none;
    color: white;
}
