#section_homepage #section_homepage_flexbox {
    display: flex;
    align-content: center;
}

#start_left {
    padding-top: 10%;
    padding-left: 5em;
    min-width: 20em;
}

#section_homepage button {
    padding: 15px;
    width: 15em;
}

#start_b_new {
    margin-top: 20%;
}

#start_right {
    width: 75%;
    padding-top: 3em;
    padding-right: 1em;
}

#section_homepage  table {
    width: 100%;
    background-color: aliceblue;
    border: 1px solid black;
}